
.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background:var(--background-main);
  padding: 2rem;
}

.header {
  text-align: center;
  margin-bottom: 2rem;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  color: #1e293b;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
